@font-face {
	font-family: drukText;
	src: url(assets/fonts/Druk-Medium-Trial.otf);
}

@import url('https://fonts.googleapis.com/color:whitecss2?family=Poppins&display=swap');

:root {
	--fontTitle: drukText;
	--fontText: 'Poppins', sans-serif;
	--btn-shadow-color: #6E5C20;



}

/* BIG RESET ABOVE !! DO NOT TOUCH !! */

/*Here goes shop section */

#shop {
	position: relative;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	height: 100vh;
	z-index: 30;
}

.box1 {
	width: 50%;
	height: 50vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #D9D9D9;
	overflow: hidden;
}

.box2 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 50%;
	height: 50vh;
	background-color: #161616;
}

.box3 {
	width: 50%;
	height: 50vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #161616;
}

.box4 {
	width: 50%;
	height: 50vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #D9D9D9;
	overflow: hidden;
}

.item {
	color: white;
	font-size: 2rem;
	font-family: var(--fontText);
	margin-left: 10%;
	padding: 8px;
}

.price {
	color: white;
	margin-left: 10%;
	font-size: 2rem;
	padding: 8px;
	font-family: var(--fontText);

}

.buttonBuy {
	background-color: #333834;
	border: none;
	border-radius: 100px;
	color: white;
	width: 100px;
	margin-left: 10%;
	padding: 8px;
	font-size: 2rem;

}

.buttonBuy:hover {
	background-color: var(--btn-color);
	;
	box-shadow: 0.3px 0.3px .1em 0em rgba(224, 225, 135, 0.5);
	cursor: pointer;
}

.whiteBasket {
	position: absolute;
	top: 20px;
	right: 20px;
	width: 4%;
}

.blackBasket {
	position: absolute;
	visibility: hidden;
	top: 20px;
	right: 20px;
	width: 5%;
}


/* Button Animation */

@keyframes toBasket {
	0% {
		transform: translate(0px, 0px);
	}

	50% {
		transform: translate(0px, 100%) rotate(180deg) scale(0.5);
	}

	100% {
		transform: translate(0px, 0px) rotate(0deg);
	}
}

.animate {
	animation-name: toBasket;
	animation-duration: 2s;
	animation-fill-mode: forwards;
}



/*Responsive Section */

@media all and (max-width : 450px) {
	#shop {
		display: grid;
		z-index: 25;
	}

	.whiteBasket {
		visibility: hidden;
	}

	.blackBasket {
		visibility: visible;
	}

	.box1 {
		width: 100%;
		display: flex;
		height: 30vh;
		align-items: center;
		justify-content: center;
		background-color: #D9D9D9;
	}

	.box2 {
		display: flex;
		flex-direction: wrap;
		height: 20vh;
		justify-content: center;
		width: 100%;
		background-color: #161616;
	}

	.box3 {
		width: 100%;
		height: 20vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		background-color: #161616;
		order: 2;
	}

	.box4 {
		width: 100%;
		height: 30vh;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: #D9D9D9;
	}

	.item {
		color: white;
		font-size: 1.5rem;
		margin-left: 10%;
		padding: 8px;
		margin-top: 1rem;
	}

	.price {
		color: white;
		margin-left: 10%;
		font-size: 1.5rem;
		padding: 8px;
	}

	.buttonBuy {
		background-color: #333834;
		border: none;
		border-radius: 100px;
		color: white;
		width: 100px;
		margin-left: 10%;
		padding: 8px;
		font-size: 1rem;
		margin-bottom: 2rem;
	}


}