
/* -------------TO DELETE--------------- */
body {
	background-color: rgba(22, 22, 22, .9);
}
/* -------------TO DELETE--------------- */


/*-----SPOTIFY PAGE-----*/
.albumPage {
	height: 100vh;
	position: relative;
	overflow: hidden;
	padding-left: 10%;
}

#backgroundVideo {
	object-fit: cover;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.album {
	font-family: var(--fontText);
	display: flex;
	position: relative;
	color: white;
	width: auto;
	top: 50%;
	transform: translateY(-50%);
}

.album h1 {
	font-family: var(--fontTitle);
	margin-bottom: 20px;
}

.album ul {
	margin-top: -5px;
	font-size: 1.4em;
	line-height: 150%; /* fout la merde en rotate et surface duo 
	RESPONSIVE >> height 475 >> line-height: 110%?*/
	list-style-type: decimal;
	margin-left: 75px;
}

.album aside {
	font-size: 2em;
	text-align: center;
}


/* unvisited link */
.album aside a:link {
	color: white;
}

/* visited link */
.album aside a:visited {
	color: white;
}

/* mouse over link */
.album aside a:hover {
	color: #1DB954;
}

/* selected link */
.album aside a:active {
	color: #161616;
}

#albumPict {
	width: 270px;
	margin-bottom: 15px;
}

#spotifyLink {
	display: flex;
	justify-content: center;
	align-items: center;
}

#spotifyPict {
	width: 40px;
	margin-right: 5px;
}


/* SHAKE ON ALBUM PICTURE */
@keyframes shakePict {
	
	10%,
	90% {
		transform: translate3d(-1px, 0, 0);
	}
	
	20%,
	80% {
		transform: translate3d(2px, 0, 0);
	}
	
	30%,
	50%,
	70% {
		transform: translate3d(-4px, 0, 0);
	}
	
	40%,
	60% {
		transform: translate3d(4px, 0, 0);
	}
}

#albumPict:hover {
	animation: shakePict 1s linear both;
	cursor: pointer;
}

/* PLAYLIST GROW ON HOVER */
.grow {
	transition: all .2s ease-in-out;
	cursor: pointer;
}

.grow:hover {
	transform: scale(1.1);
}

/* CLIP ACTION */

@keyframes fadein {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}


.showClipDiv {
	animation-name: shakePict, fadein;
	animation-duration: 1s, 0.5s;
	visibility: visible;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	z-index: 2;
	background-color: rgba(22, 22, 22, .9);
	width: 100%;
	height: 100%;
}

.hideClipDiv {
	visibility: hidden;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	z-index: 2;
	background-color: rgba(22, 22, 22, .9);
	width: 100%;
	height: 100%;
}

.fullClipVideo {
	width: 50%;
}

.exitBackground {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.exitBackground img {
	cursor: pointer;
	position: absolute;
	width: 2%;
	opacity: 0.8;
	top: 83vh;
	left: 48vw;
}

.muteButtonHide {
	position: absolute;
	top: 90%;
	left: 90%;
	z-index: 1;
}

.muteButtonHide img {
	visibility: hidden;
}

.muteButtonShow {
	cursor: pointer;
	animation-name: shakePict;
	animation-duration: 1s, 0.5s;
	position: fixed;
	top: 90%;
	left: 90%;
	z-index: 1;
}

.muteButtonShow img {
	width: 2vw;
	visibility: visible;
}

.muteButtonShow:hover {
	transform: scale(1.3);
}

/*-------- RESPONSIVE SPOTIFY--------- */

@media screen and (max-width: 600px) {

	.albumPage {
		height: auto;
		background-color: #161616;
		/* position: initial; */
		padding-left: initial;
		padding-top: initial;
		padding-bottom: initial;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	#backgroundVideo {
		/* object-fit: initial; */
		position: initial;
		top: initial;
		left: initial;
	}

	.album {
		font-size: 1.2em;
		justify-content: center;
		/* position: initial; */
		margin-top: 5%;
		margin-bottom: 5%;
		width: 100%;
		font-size: 0.6em;
		top: initial;
		transform: initial;
	}

	.album h1 {
		margin-bottom: 5px;
	}

	.album aside {
		flex: initial;
		font-size: 1.5em;
	}

	#albumPict {
		width: 120px; /* A VOIR  50%?*/ 
		margin-bottom: 10px; /* A VOIR 5%?*/
	}

	.album ul {
		margin-top: -3px; /* A VOIR effacer?*/
		font-size: 1.2em;
		flex: initial; /* A VOIR effacer?*/
		margin-left: 30px; /* A VOIR */
	}

	#spotifyPict {
		width: 27px; /* A VOIR */
		margin-right: 2px; /* A VOIR effacer?*/
	}

	.album aside a {
		font-size: 95%;
	}

	.fullClipVideo {
		width: 90%;
	}

	.exitBackground img {
		width: 5%;
		opacity: 0.8;
		top: 80%;
		left: 48%;
	}

	.muteButtonShow {
		position: absolute;
		top: 95%;
		left: 90%;
		z-index: 1;
	}

	.muteButtonShow img {
		width: 5vw;
	}

	.grow:hover {
		transform: none;
	}

	.shakePict {
		animation: none;
		cursor: pointer;
	}
}