/*-----SPOTIFY PAGE-----*/

.albumPage {
	height: 100vh;
	position: relative;
	overflow: hidden;
	padding-left: 10%;
	z-index: 100;
}

#backgroundVideo {
	object-fit: cover;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.album {
	font-family: var(--fontText);
	display: flex;
	position: relative;
	color: white;
	width: auto;
	top: 50%;
	transform: translateY(-50%);
}

.album h3 {
	font-family: var(--fontIan);
	font-size: 2rem;
	margin-bottom: 20px;
}

.album ul {
	margin-top: -5px;
	font-size: 1.4em;
	line-height: 150%;
	list-style-type: decimal;
	margin-left: 75px;
}

.album aside {
	font-size: 2em;
	text-align: center;
}

/* unvisited link */
.album aside a:link {
	color: white;
}

/* visited link */
.album aside a:visited {
	color: white;
}

/* mouse over link */
.album aside a:hover {
	color: #1DB954;
}

/* selected link */
.album aside a:active {
	color: #161616;
}

#albumPict {
	width: 270px;
	margin-bottom: 15px;
}

#spotifyLink {
	display: flex;
	justify-content: center;
	align-items: center;
}

#spotifyPict {
	width: 40px;
	margin-right: 5px;
}


/* SHAKE ON ALBUM PICTURE */
@keyframes shakePict {

	10%,
	90% {
		transform: translate3d(-1px, 0, 0);
	}

	20%,
	80% {
		transform: translate3d(2px, 0, 0);
	}

	30%,
	50%,
	70% {
		transform: translate3d(-4px, 0, 0);
	}

	40%,
	60% {
		transform: translate3d(4px, 0, 0);
	}
}

#albumPict:hover {
	animation: shakePict 1s linear both;
	cursor: pointer;
}

/* PLAYLIST GROW ON HOVER (+ muteButton) */
.grow {
	transition: all .2s ease-in-out;
	cursor: pointer;
}

.grow:hover {
	transform: scale(1.1);
}

/* CLIP ACTION */

@keyframes fadein {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}


.showClipDiv {
	animation-name: shakePict, fadein;
	animation-duration: 1s, 0.5s;
	visibility: visible;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	z-index: 2;
	background-color: rgba(22, 22, 22, .9);
	width: 100%;
	height: 100%;
}

.hideClipDiv {
	visibility: hidden;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	z-index: 2;
	background-color: rgba(22, 22, 22, .9);
	width: 100%;
	height: 100%;
}

.fullClipVideo {
	width: 50%;
}

.exitBackground {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.exitBackground img {
	cursor: pointer;
	position: absolute;
	width: 2%;
	opacity: 0.8;
	top: 83vh;
	left: 48vw;
}

.muteButtonHide {
	visibility: hidden;
	z-index: 100;
}

.muteButtonShow {
	cursor: pointer;
	animation-name: shakePict;
	animation-duration: 1s, 0.5s;
	position: fixed;
	top: 90%;
	left: 90%;
	background-image: url("./assets/img/sound.png");
	background-size: contain;
	background-repeat: no-repeat;
	width: 3vw;
	height: 5vh;
	z-index: 100;
}

.muteButtonShow:hover {
	background-image: url("./assets/img/silent.png");
}

.muteButtonShow:hover {
	transform: scale(1.3);
}

/*-------- RESPONSIVE SPOTIFY--------- */

@media screen and (max-width: 600px) {

	.albumPage {
		height: auto;
		background-color: #161616;
		padding-left: initial;
		padding-top: initial;
		padding-bottom: initial;
		display: flex;
		flex-direction: column;
		justify-content: center;
		z-index: 30;
		height: 100vh;
	}

	#backgroundVideo {
		position: initial;
		top: initial;
		left: initial;
	}

	.album {
		font-size: 1.2em;
		justify-content: center;
		margin-top: 5%;
		margin-bottom: 5%;
		width: 100%;
		font-size: 0.6em;
		top: initial;
		transform: initial;
	}

	.album h3 {
		margin-bottom: 5px;
		font-size: 1rem;
	}

	.album aside {
		flex: initial;
		font-size: 1.5em;
	}

	#albumPict {
		width: 120px;
		margin-bottom: 10px;
	}

	.album ul {
		margin-top: -3px;
		font-size: 1.2em;
		flex: initial;
		margin-left: 30px;
	}

	#spotifyPict {
		width: 27px;
		margin-right: 2px;
	}

	.album aside a {
		font-size: 95%;
	}

	.fullClipVideo {
		/* position: absolute; */
		width: 90%;
		/* top: 60%; */
	}

	.exitBackground img {
		width: 5%;
		opacity: 0.8;
		top: 80%;
		/* top: 90%; */
		left: 48%;
	}

	.muteButtonShow {
		position: fixed;
		top: 95%;
		left: 87%;
		z-index: 100;
		width: 7vw;
		height: 3.5vh;
	}

	.muteButtonShow img {
		width: 5vw;
	}

	.grow:hover {
		transform: none;
	}

	.shakePict {
		animation: none;
		cursor: none;
	}
}

@media screen and (max-height: 500px) {
	.album h3 {
		margin-bottom: 10px;
	}

	.album ul {
		margin-top: -3px;
		font-size: 1.1em;
		flex: initial;
		margin-left: 50px;
	}

	#spotifyPict {
		width: 27px;
		margin-right: 2px;
	}

	.album aside a {
		font-size: 95%;
	}

	.fullClipVideo {
		width: 50%;
	}

	.exitBackground img {
		width: 2%;
		opacity: 0.8;
		top: 87%;
		left: 48%;
	}

	.muteButtonShow {
		position: fixed;
		top: 85%;
		left: 87%;
		z-index: 100;
		width: 4vw;
		height: 9vh;
	}

	.grow:hover {
		transform: none;
	}

	.shakePict {
		animation: none;
		cursor: none;
	}
}