html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-decoration: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

@font-face {
	font-family: drukTextWide;
	src: url(assets/fonts/DrukTextWide-Heavy-Trial.otf);
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
	--fontTitle: drukTextWide;
	--fontText: 'Poppins', sans-serif;
	--btn-shadow-color: #6E5C20;



}

/* BIG RESET ABOVE !! DO NOT TOUCH !! */


/*PAGE SPOTIFY*/
.albumPage {
	height: 100vh;
	position: relative;
	overflow: hidden;
	padding-left: 10%;
}

video {
	object-fit: cover;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.album {
	font-family: var(--fontText);
	display: flex;
	position: relative;
	color: white;
	width: auto;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.album h1 {
	font-family: var(--fontTitle);
	margin-bottom: 20px;
}

.album ul {
	margin-top: -5px;
	font-size: 1.4em;
	line-height: 150%;
	list-style-type: decimal;
	margin-left: 75px;
}

.album aside {
	font-size: 2em;
	text-align: center;
}


/* unvisited link */
.album aside a:link {
	color: white;
}

/* visited link */
.album aside a:visited {
	color: white;
}

/* mouse over link */
.album aside a:hover {
	color: #1DB954;
}

/* selected link */
.album aside a:active {
	color: #161616;
}

#albumPict {
	width: 270px;
	margin-bottom: 15px;
}

#spotifyLink {
	display: flex;
	justify-content: center;
	align-items: center;
}

#spotifyPict {
	width: 40px;
	margin-right: 5px;
}

@media screen and (max-width: 450px) {

	.albumPage {
		height: auto;
		background-color: #161616;
		position: initial;
		padding-left: initial;
		padding-top: initial;
		padding-bottom: initial;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	video {
		object-fit: initial;
		position: initial;
		top: initial;
		left: initial;
	}

	.album {
		font-size: 1.2em;
		justify-content: center;
		position: initial;
		margin-top: 5%;
		margin-bottom: 5%;
		width: 100%;
		font-size: 0.6em;
		top: initial;
		-ms-transform: initial;
		transform: initial;
	}

	.album h1 {
		margin-bottom: 5px;
	}

	.album aside {
		flex: initial;
		font-size: 1.5em;
	}

	#albumPict {
		width: 120px;
		margin-bottom: 10px;
	}

	.album ul {
		margin-top: -3px;
		font-size: 1.2em;
		flex: initial;
		margin-left: 30px;
	}

	#spotifyPict {
		width: 27px;
		margin-right: 2px;
	}

	.album aside a {
		font-size: 95%;
	}

}