html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-decoration: none;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
	text-decoration: none;
	color: inherit;
}

@font-face {
    font-family: drukTextWide ;
    src: url(assets/fonts/Druk-Medium-Trial.otf);
}
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
 :root{
     --fontTitle : drukTextWide;
     --fontText : 'Poppins', sans-serif;
     --btn-shadow-color: #6E5C20;    
 }

/* BIG RESET ABOVE !! DO NOT TOUCH !! */ 



/* HEADER GREG START HERE */
* {
    scroll-behavior: smooth;
}

.skip-nav-link{
    position: absolute;
    top: 0;
    left: 1rem;
    width: 20rem;
    height: 5rem;
    background-color: black;
    border: 2px solid red;
    color: white;
    z-index: 100;
    font-size: 2rem;
    text-align: center;
    padding-top: 3rem;
    transform: translateY(-120%);
    transition:transform .5s ease;

}
.skip-nav-link:focus{
    transform: translateY(0);
}

.header__container {
    position: relative;
    width: 100vw;
    height: 650vh;
}
.header__container .header__hero__wrap {
    position: sticky;
    display: flex;
    top: 0;
}
.header__container .header__hero__wrap .header__img {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(assets/img/background.jpg);
    background-size: cover;
}
.header__container .header__hero__wrap .header__img .hero__title {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 10%;
    right: 4%;
    color: white;
}
.header__container .header__hero__wrap .header__img .hero__title h1 {
    position: relative;
    font-size: 14rem;
    white-space: nowrap;

    font-family: var(--fontTitle);
}
.header__container .header__hero__wrap .header__img .hero__title h2 {
    color: white;
    font-size: 2rem;
    align-self: flex-end;
    font-family: 'Poppins', sans-serif;
}
.header__container .header__nav {
    position: fixed;
    top: 50%;
    left: 0;
    z-index: 100;
    transform: translate(0, -50%);
    mix-blend-mode: difference;
}
.header__container .header__nav li {
    position: relative;
    left: 0;
    top: 50%;
    color: white;
    writing-mode: vertical-lr;
    text-orientation: sideways-right;
    white-space: nowrap;
    transform: rotate(180deg);
    margin: 3rem 1rem;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}
.header__container .header__nav li::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: -0.5rem;
    width: 4px;
    height: 110%;
    transform: scaleY(0);
    background-color: white;
    transition: transform 0.3s ease-in;
    transform-origin: top;


}
.header__container .header__nav li:hover:before {
    transform: scaleY(1);
    transition: transform 0.3s ease-in;
    transform-origin: bottom;

}
.header__container .header__nav li:focus{
    text-decoration: underline;
}
.circle {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0px;
    height: 0px;
    border-radius: 10px;
    background-color:  #161616;
    z-index: 10;
    overflow: hidden;
    margin: 0;
}
.circle p {
    color: white;
    position: sticky;
    width: 80vw;
    height: auto;
    margin: 0;
    font-size: 3rem;
    font-family: 'Poppins', sans-serif;
}


.scroll-animation {
    position: fixed;
    bottom: 1rem;
    left: 50%;
    width: 50px;
    height: 60px;
    border: 2px solid white;
    border-radius: 60px;
    z-index: 21;
}
.scroll-animation::before{
    content: '';
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translate(-50%, 0);
    width: 2px;
    height: 12px;
    border-radius: 8px;
    background-color: white;
    animation: 1s ease-in 1s infinite  both running scroll-animation;


}
@keyframes scroll-animation {
    0%{
        top: .7rem;
        opacity: 0;
    }
    25%{
        top: 1.3rem;
        opacity: 0.5;
    }
    50%{
        top: 1.6rem;
        opacity: 0.7;
    }
    75%{
        top: 1.9rem;
        opacity: 0.9;
    }
    100%{
        top: 2.1rem;
        opacity: 1;
    }



    
}

main p{
    position: relative;
    background-color: white;
    z-index: 20;
    color: black;
}
/* RESPONSIVE */
@media  all and (max-width : 450px){
    .header__container{
        height: 400vh;
    }
    .header__container .header__hero__wrap .header__img {
        position: relative;
        width: 100%;
        height: 100vh;
        background-image: url(assets/img/header_copie.jpeg);

    }
    .header__container .header__hero__wrap .header__img .hero__title{
        position: absolute;
        top: 10%;
    }
    .header__container .header__hero__wrap .header__img .hero__title h1 {
        position: relative;
        font-size: 6rem ;
        font-family: var(--fontTitle);
    }
    .header__container .header__hero__wrap .header__img .hero__title h2 {
        color: white;
        font-size: 1.3rem;
        align-self: center;
        font-family: 'Poppins', sans-serif;
    }
    .header__container .header__nav {
        position: fixed;
        top: 1rem;
        left: 0;
        z-index: 100;
        transform: translate(0, -50%);
        mix-blend-mode: difference;
    }
    .header__container .header__nav ul{
        display: flex;
        flex-direction: row-reverse;
        width: 100vw;
        justify-content: center ;
    }
    .header__container .header__nav li {
        position: relative;
        left: 0;
        top: 50%;
        color: white;
        writing-mode: initial;
        text-orientation:initial;
        transform: rotate(0);
        margin: 0rem 1rem;

        font-family: 'Poppins', sans-serif;
        cursor: pointer;
    }
    .header__container .header__nav li::before {
        display: none;
    }
    .header__container .header__nav li:hover:before {
        display: none;
    }
   
  .circle p{
      width: 80vw;
      font-size: 1.3rem;

  }
} 
    



/* HEADER GREG FINISHES HERE */
/* HEADER GREG FINISHES HERE */
/* HEADER GREG FINISHES HERE */
/* HEADER GREG FINISHES HERE */

