html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-decoration: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

@font-face {


    font-family: drukTextWide ;
    src: url(assets/fonts/Druk-Medium-Trial.otf);

}

@font-face {
    font-family: drukTextHeavy ;
    src: url(assets/fonts/DrukTextWide-Heavy-Trial.otf);
}
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


:root {
	--fontTitle: drukTextWide;
	--fontText: 'Poppins', sans-serif;
	--btn-color: #5E17EB;
    --fontIan: drukTextHeavy; 
    


}

body {
	background-color: #161616;

}

/* BIG RESET ABOVE !! DO NOT TOUCH !! */


/* DATE TOUR PAGE*/


.date__container {
	background-color: #161616;

	height: 100vh;
	position: relative;
	color:white;
	font-family: var(--fontText);
	font-size: 2em;

    z-index: 30;
}


.date__container h2 {
	font-family: var(--fontTitle);
	color: white;
    padding: 2rem 2rem 2rem 10rem;
    font-size: 5rem;

	
}


.dates {
	width: 100%;
	display: flex;
    font-size: 1rem;
  }
  .dates ul{
      width: 100%;
      display: flex;
      flex-direction: column;
      padding-left: 3rem;



  }

.wrapper {
    position: relative;
	display: flex;
	justify-content: space-between;
	width: 60%;
    margin: .5rem 0;
    background-color: #161616;
	cursor: pointer;



   }
.wrapper::after{
content: '';
position: absolute;
bottom: 10px;
right:7rem;
width: 0%;
height: 3px;
border-radius: 3px;
background-color:var(--btn-color);
transition: width .4s ease;

}
.wrapper:hover::after{
    width: 75%;
}
.wrapper:last-of-type:hover{
    box-shadow: 0;
}
.wrapper:last-of-type:hover span{
    transform: none;
	cursor: default;
}


.wrapper:last-of-type:hover::after{
    width: 0;
}
.wrapper:hover button{
	box-shadow: 0.3em 0.3em .1em 0em var(--btn-color); ;

}
.wrapper:last-of-type:hover .buttonSoldout{
	box-shadow: none;
}
 .wrapper span {
	padding-left: 5em;
;

}

.wrapper button {

    cursor: pointer;


}

.wrapper strong {
		font-weight:bold;

}


.buttonTicket {
	padding: 6px 30px;
	display: inline-flex;
	justify-content: center;
	width:6.5em;
	height: 2em;
	align-items: center;	
	font: inherit;
	border-radius: 3em; 
	background: #202020;
	color: white;
	border: none;
	
}



.buttonSoldout {
	position: relative;
	background-color: #2d2c2c;
	color: #6E6E6E;
	padding: 6px 30px;
	display: inline-flex;
	justify-content: center;
	width:6.5rem;
	height: 2rem;
	align-items: center;	
	font: inherit;
	border-radius: 3rem; 
	border: none;
    white-space: nowrap;
}

.buttonSoldout::after {
	content: '';
	position: absolute;
	top: -5px;
	right: -5px;
	width: 20px;
	height: 20px;
	border-radius: 20px;
	background-color: red;

}





.buttonTicket:hover    {
	box-shadow: 0.3em 0.3em .1em 0em var(--btn-color); ;
}


.wrapper:hover span {
	transition: all 500ms ease;
	transform: translateX(-4em);
}


.wrapper .buttonSoldout:hover{
	display: flex;
	transform:none;
	box-shadow: none;	
    cursor: not-allowed;
	}




 

 @media screen and (max-width: 450px) {


.date__container {
	background-color: #161616;
	width: 100%;
	height: 100vh;
	position: relative;
	color:white;
	font-family: var(--fontText);
    font-size: .5rem;



}

.date__container h2 {
	font-family: var(--fontTitle);
	color: white;
    font-size: 3rem;

	
}

.dates ul {
	width: 100vw;
	display: flex;
    justify-content: start;
    align-items: flex-start;
	padding-top:3em;
	padding-bottom: 1.5em;
    font-size: .5rem;
	padding-right: 1em;
	
  }

  .dates span{
     
      margin: 0;
      padding: 0;
  }

  .wrapper {
	display: flex;
    align-items: center;
	width: 80%;
    margin: 0;
    padding: 0;
   }
   
.wrapper strong {
		font-weight:bold;
	  }

.wrapper:hover::after{
        width: 0%;
}
    .wrapper:last-of-type:hover{
        box-shadow: 0;
}
    .wrapper:last-of-type:hover span{
        transform: none;
}
    .wrapper:last-of-type:hover::after{
        width: 0;
}


.buttonTicket {

	padding: 10px 10px;
    margin: .5rem 0 0 0 ;
	width: 55px;
	height:10px;
	border-radius: 20px;	; 
	background: #202020;
	color: white;
	border: none;
    justify-self: end;
    align-self: flex-end;

	}


.buttonSoldout {
	padding: 10px 10px;
	width: 55px;
	height:10px;
    margin: .5rem 0 0 0 ;



	background-color: #2d2c2c;
	color: #6E6E6E;
}

.buttonSoldout::after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	width: 5px;
	height: 5px;
	border-radius: 15px;
	background-color: red;

}

.wrapper .buttonTicket:hover {
	transform:none;
	box-shadow: none;	
	}

 
.wrapper:hover span {

	transform: none;
	}
	
.wrapper:hover {
	display: flex;

	transform: none;	
}

.wrapper strong {
	font-weight:bold;
}
.wrapper:hover button{
	box-shadow: none;
}


 }



 

